.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-navbar{
  background-color: black;
}

.navbar-text{
  color: white;
}

.navbar-text:hover{
  color: white;
  text-decoration: underline;
}

.resize {
  width:100%; 
  height: auto;
}

.customsquare{
  background-color: #05386b;
  height: 75v;
}
.custom-text{
  color: white;
  font-family: "Stardos Stencil";
  font-size: 40pt;
  font-weight: bold;
}

.aboutsquare{
  background-color: #ffffff;
  width: 100%;
  height: 25vh;
}
.aboutsquare-text{
  color: black;
  font-family: "Stardos Stencil";
  font-size: 40pt;
  font-weight: bold;
}

.treasury{
  background-color: #5cdb95;
  height: 100%;
  border: 2px solid red;
}
.treasury-text{
  color:  #05386b;
  font-family: "Stardos Stencil";
  font-size: 40pt;
  font-weight: bold;
}

/* #5cdb95 - green
  #edf5e1 - whitish  */